<!DOCTYPE html>
<html>

<head>
  <title>
  </title>
  <link rel="stylesheet" href="/login.css">
  <link rel="stylesheet" href="/navigation.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- CSS de SweetAlert2 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.3/dist/sweetalert2.min.css">
<!-- JS de SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.3/dist/sweetalert2.all.min.js"></script>

<style>
  .swal2-title{
    color: var(--popup-color) !important;
  }
  .swal2-html-container{
    color:var(--sidebar) !important;
  }
  .swal2-styled.swal2-confirm{
    background: var(--action-color) !important;
  }
</style>

</head>
<html>

<body>
  <header id="header">
    <a href="/" class="logo">
      <img src="./img/Logo.jpg">
    </a>
    <ul>
      <li><a href="/signin">Inicar</a></li>
      <li><a href="/Signup">Registrarse</a></li>
      <button class="mode-switch" title="Switch Theme">
        <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
          stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
          <defs></defs>
          <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
        </svg>
      </button>
    </ul>
  </header>

  <section class="restP">
    <!-- Formulario de recuperación de contraseña -->
    <form class="loginForm" action="/forgot-password" method="post">
      <h2 class="forgotFormH2">Restaurar Contraseña</h2>
      <div class="inputInDiv">
        <input class="txtInput" type="text" placeholder="Nombre Completo" name="nombre_completo" id="nombre_completo">
        <label>Pregunta de Seguridad</label>
        <select class="" name="pregunta">
          <option value="¿Cuál es el nombre de tu mascota?">¿Cuál es el nombre de tu mascota?</option>
          <option value="¿Cuál es tu comida favorita?">¿Cuál es tu comida favorita?</option>
          <option value="¿Cuál es el nombre de tu mejor amigo de la infancia?">¿Cuál es el nombre de tu mejor amigo de
            la infancia?</option>
        </select>
        <input class="txtInput" type="text" placeholder="Respuesta" name="respuesta" id="email">
      </div>
      <button class="btnLogin" type="submit">Enviar</button>
    </form>
    <div class="footer">
      <p>Copyright © 2022 ChillY_Code. All Right Reserverd</p>
    </div>
    <div class="window">
      <% if (error) { %>
      <script>
          Swal.fire({
            icon: 'error',
            title: 'Error...',
            text: '<%= error %>'
          });
          </script>
        <% } %>
    </div>
  </section>
</body>
  <script src="./partials/navigation/navigation.js"></script>